# Windows system files
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Notepad++ and temporary backups
*.bak
*.tmp
*.old

# EverQuest Log and UI files
*.log
UI_*.ini
EQHadley_*.ini

# IDE/Editor settings
.vscode/
.idea/

# Generated Release Assets (Keep out of source code)
*.gz
*.zip

# Generated Release Assets (Keep out of source code)
*.gz
*.zip
